.vs/slnx.sqlite
.vs/PYTHON/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/PYTHON/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
.vs/PYTHON/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/PYTHON/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/PYTHON/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
.vs/PYTHON/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/PYTHON/FileContentIndex/a86345be-7485-42fb-9aa5-aae744eafbc3.vsidx
.env
